@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    background-color:#808080;
    color: white;
}

.nav {
    display:flex;
    align-items: center;
    gap: 2rem;
}

.nav__link {
    text-decoration: none;
}

.nav__link-p:hover {
    transition: 0.5s;
    color: blue;
}

.nav__link:visited {
    color: white;
}

.main__section {
    display:flex;
    padding: 4rem 2rem;
    font-size: 40px;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.main__list {
    display:flex;
    font-size: 32px;
    gap: 3rem;
    color: lightgreen;
}

.main__item {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: none;
}

.main__item h3 {
    font-size: 64px;
}

.main__item p {
    font-size: 16px;
}

.main__item h3, .main__item p {
    margin: 0;
}

.box__section {
    display:flex;
    justify-content: space-evenly;
    padding: 5rem;
}

.box__item {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2.25rem;
    width: 200px;
    height: 275px;
}

