#tabuleiro {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 1px black solid;
}

.celula {
    width: 100px;
    height: 100px;
    float: right;
}

.dama {
    width: 50px;
    margin: 25px;
}

.branca {
    background-color: white;
}

.preta {
    background-color: black;
}

h2 {
    font-size: 2rem;
    text-align:center;
}