* {
    margin: 0;
}

#wrapper {
    width: 100%;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
    margin-left: 12px;
}


header {
    background-color: lightcoral;
    height: 60px;
}

footer {
    background-color: lightcoral;
    height: 60px; 
}

header h1 {
    color: white;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 12px;
    font-size: 24px;
}

footer p {
    color: white;
    font-weight: 400;
    padding-top: 16px;
    text-align:center;
    font-size: 24px; 
}

#form {
    padding: 32px 16px 0 16px;
    color: lightcoral;
}

#form h2 {
    width: 45%;
    padding: 8px;
    border-left: 6px lightcoral solid;
    border-bottom: 1px lightcoral solid;
}

#form__superior {
    display:flex;
    padding-right: 24px;
    gap: 20px;
}

#form__identificacao {
    margin-top: 24px;
    border: 1px lightcoral solid;
    border-radius: 4px;
    width: 75%;
    padding: 20px;
}

label {
    font-weight: 700;
}

input  {
    border: 1px lightcoral solid; 
    height: 30px;
    border-radius: 4px;
}

select {
    border: 1px lightcoral solid; 
    height: 32px;
    border-radius: 4px; 
}


#form__identificacao h3 {
    margin-bottom: 16px;
}

.txt_nome {
    width: 100%;
    border: 1px lightcoral solid;
    outline:none;
    margin-top: 8px;
    height: 20px;
    border-radius: 4px;
}

.form__identificacao-1  {
    margin-top: 16px;
    display:flex;
    width: 100%;
    gap: 20px;
}


.form__identificacao-1 div {
    width: 50%;
}
.form__identificacao-1 div input {
    width: 100%;
}

.form__identificacao-2 {
    margin-top: 16px;
    display:flex;
    width: 100%;
    gap: 20px;
}

.form__identificacao-2 div {
    width: 50%;
}
.form__identificacao-2 div .txt_data {
    width: 100%;
}

.form__identificacao-3 {
    margin-top: 16px;
    display:flex;
    width: 100%;
    gap: 20px;
}

.form__identificacao-3 div {
    width: 50%;
}
.form__identificacao-3 div input {
    width: 100%;
}

#form__fotografia {
    margin-top: 24px;
    border: 1px lightcoral solid;
    border-radius: 4px;
    width: 25%;
    padding: 20px; 
    height: 225px;
}

#form__fotografia div {
    display:flex;
    padding-top: 16px;
}

.fotografia__btn {
    background-color: lightcoral;
    border:none;
    height: 32px;
    width: 100px;
    color: white;
    border-radius: 4px;
    margin-left:30px;
}

#form__endereco {
    margin-top: 24px;
    border: 1px lightcoral solid;
    border-radius: 4px;
    width: 95%;
    padding: 20px;
}

.form__endereco-1 {
    margin-top: 16px;
    display:flex;
    width: 100%;
    gap: 20px;
}

.form__endereco-1 div:nth-child(1) {
    width: 60%;
}

.form__endereco-1 div {
    width: 20%;
}

.form__endereco-1 div input {
    width: 100%;
}

.form__endereco-2 {
    margin-top: 16px;
    display:flex;
    width: 100%;
    gap: 20px;
}

.form__endereco-2 div {
    width: 33%;
}

.form__endereco-2 div input {
    width: 100%;
}
.form__endereco-2 div select {
    width: 100%;
}

#form__diversos {
    margin-top: 24px;
    border: 1px lightcoral solid;
    border-radius: 4px;
    width: 95%;
    padding: 20px;
}

#form__diversos h3 {
    margin-bottom: 16px;
}

#form__diversos .form__diversos-1 div {
    border: 1px lightcoral solid;
    width: 33%;
    padding: 16px;
    border-radius: 4px;  
}

.form__diversos-1 {
    display:flex;
    gap: 20px;
}

#div__btns {
    margin-top: 20px;
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 12px;
    margin-bottom: 30px;
}

.btn__cancelar, .btn__enviar {
    height: 40px;
    width: 120px;
    border:none;
    color: white;
}

.btn__cancelar {
    background-color: red;
}

.btn__enviar {
    background-color: green;   
}